.container {
  padding: 1rem;
  display: flex;
  height: 100%;
  column-gap: 1.5rem;
  justify-content: center;
  background-color: var(--background-color-2);
}

.emptyColumn {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.emptyColumn p {
  text-align: center;
  font: var(--font-heading-l);
  color: var(--palette-medium-grey);
}
