.container {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  padding: 2.4rem 1.6rem;
  background-color: var(--background-color);
  overflow: scroll;
  transition: background 0.3s ease-in-out;
}

.text {
  margin: 0;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--label-color);
}

.column {
  width: 28rem;
  min-width: 28rem;

  &Title {
    color: var(--secondary-text);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
  }
}
