.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  padding: 2.4rem;
  background-color: var(--background-color);
  overflow: scroll;
}

.text {
  margin: 0;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--label-color);
}
