.container {
  grid-area: content;
  padding: 2.3rem 1.6rem;
}

.header {
  grid-area: header;
}

.nav {
  display: none;

  @media (min-width: 768px) {
    display: block;
    grid-area: nav;
  }
}

.dashboard {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: 6.4rem 1fr;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-areas:
      "nav header header"
      "nav content content";
    grid-template-rows: 8.1rem 1fr;
    grid-template-columns: 26.1rem 1fr;
  }

  @media (min-width: 992px) {
    grid-template-rows: 9.7rem 1fr;
    grid-template-columns: 30rem 1fr;
  }
}