.container {
  grid-area: content;
  padding: 2.3rem 1.6rem;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.dashboard {
  display: grid;
  grid-template-areas:
  "nav header header"
  "nav content content"
  "nav content content";
  grid-template-rows: 9.7rem 1fr;
  grid-template-columns: 30rem 1fr;
}