:root {
  --rem: 16;

  /* COLORS */
  --palette-black: #000112;
  --palette-black-rgb: 0, 1, 18;
  --palette-very-dark-grey: #20212c;
  --palette-dark-grey: #2b2c37;
  --palette-dark-lines: #3e3f4e;
  --palette-medium-grey: #828fa3;
  --palette-medium-grey-rgb: 130, 143, 163;
  --palette-light-lines: #e4ebfa;
  --palette-light-grey: #f4f7fd;
  --palette-white: #ffffff;
  --palette-main-purple: #635fc7;
  --palette-main-purple-rgb: 99, 95, 199;
  --palette-main-purple-hover: #a8a4ff;
  --palette-green: #67e2ae;
  --palette-red: #ea5555;
  --palette-red-hover: #ff9898;

  /* TYPOGRAPHY */
  --font-heading-xl: 700 1.5rem / 30px "__Plus_Jakarta_Sans_0981d5",
    "__Plus_Jakarta_Sans_Fallback_0981d5", sans-serif;
  --font-heading-l: 700 1.125rem / 23px "__Plus_Jakarta_Sans_0981d5",
    "__Plus_Jakarta_Sans_Fallback_0981d5", sans-serif;
  --font-heading-m: 700 0.9375rem / 19px "__Plus_Jakarta_Sans_0981d5",
    "__Plus_Jakarta_Sans_Fallback_0981d5", sans-serif;
  --font-heading-s: 700 0.75rem / 15px "__Plus_Jakarta_Sans_0981d5",
    "__Plus_Jakarta_Sans_Fallback_0981d5", sans-serif;
  --font-body-l: 500 0.8125rem / 23px "__Plus_Jakarta_Sans_0981d5",
    "__Plus_Jakarta_Sans_Fallback_0981d5", sans-serif;
  --font-body-m: 700 0.75rem / 15px "__Plus_Jakarta_Sans_0981d5",
    "__Plus_Jakarta_Sans_Fallback_0981d5", sans-serif;

  /* LIGHT MODE */
  --text-color: var(--palette-black);
  --background-color-1: var(--palette-white);
  --background-color-2: var(--palette-light-grey);
}

.dark {
  /* DARK MODE */
  --text-color: var(--palette-white);
  --background-color-1: var(--palette-dark-grey);
  --background-color-2: var(--palette-very-dark-grey);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
