.modal {
  &Info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &Title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Text {
      width: 27.4rem;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
  }

  &Label {
    color: var(--secondary-text);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &Description {
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.3rem;
  }

  &Subtasks {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.subtaskContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: fit-content;
  max-height: 16.3rem;
  overflow-y:auto;
}